extends layout

block content
  h1= title
  p Welcome to #{title}
      form#formAddPerson(name="addPerson",method="post",action="/addperson")
        input#inputPersonFirstName(type="text", placeholder="First Name", name="personFirstName")
        input#inputPersonLastName(type="text", placeholder="Last Name", name="personLastName")
        input#inputPersonProfession(type="text", placeholder="profession", name="personProfession")
        input#inputPersonAddressEmail(type="text", placeholder="E-Mail", name="personEmail")
        input#inputPersonAddressTwitter(type="text", placeholder="Twitter", name="personTwitter")
        input#inputPersonAddressGithub(type="text", placeholder="Github", name="personGithub")
        button#btnSubmitAddPerson(type="submit") submit




