extends layout
include mixins/readBulkMdlCards.jade

block content
  a(name='top')
  //- .android-be-together-section
  .top-section.mdl-typography--text-center
    .logo-font.android-slogan fliXnet
    .logo-font.android-sub-slogan(style="margin-bottom:20px;") - #{localesMenu['The Movie Graph']} -
  .graph-section
    #graph
    style.
      .node{
        cursor: move;
        fill: #ccc;
      }
      .node.fixed {
        font-weight: bold;
      }
      .nodeTextRect {
        display: none;
        stroke-width: 1;
        fill: white;
      }
      .nodeText{
        cursor: pointer;
        display: none; 
      }
      .link {
        font-size: xx-small;
        stroke: #999;
        stroke-opacity: .6;
      }
    script(src='//d3js.org/d3.v3.min.js' charset='utf-8')
    script.
      app.visualization.visualizeGraphDiv('/api/graph', '#{locale}', 960, 600, -250);
  .table-text-section
    .mdl-typography--display-1.mdl-typography--font-thin Sample Implementation - The Famous 
      a.android-link.mdl-typography--font-thin(href='') Neo4j 
      | Movie Database
    .mdl-typography--title.mdl-typography--font-thin Modelling, storing and retrieving data as a graph.
    br
    .mdl-typography--display-1.mdl-typography--font-thin An HTML Web App and a JSON only API - Both Based on 
      a.android-link.mdl-typography--font-thin(href='') NodeJS
    .mdl-typography--title.mdl-typography--font-thin Full-Stack JavaScript.
    br
    .mdl-typography--display-1.mdl-typography--font-thin Automatic API Validation and Documentation - via 
      a.android-link.mdl-typography--font-thin(href='') Swagger
    .mdl-typography--title.mdl-typography--font-thin REST. SOA. Microservices. Or whatever you might call it.
    br
    .mdl-typography--display-1.mdl-typography--font-thin Besides 
      a.android-link.mdl-typography--font-thin(href='') D3JS 
      | - Plain JavaScript without Framework Dependencies
    .mdl-typography--title.mdl-typography--font-thin HTML templating server-side via 
      a.android-link.mdl-typography--font-thin(href='') Jade
      |.
    .mdl-typography--title.mdl-typography--font-thin 
      a.android-link.mdl-typography--font-thin(href='') XHR 
      | for client-side calls to the JSON API.
    br
    .mdl-typography--display-1.mdl-typography--font-thin Using 
      a.android-link.mdl-typography--font-thin(href='') Material Design Lite 
      | Layouts and Components
    .mdl-typography--title.mdl-typography--font-thin Optimized for cross-device Use.
  .mdl-card-section
    .android-section-title.mdl-typography--display-1-color-contrast Key Facts:
    .android-card-container.mdl-grid
      .mdl-cell.mdl-cell--4-col.mdl-shadow--3dp
        .mdl-card__media
          i(id="myI", style="opacity: 0.76; color:#37474f;").material-icons linear_scale
        .mdl-card__title
          h4(id="myH").mdl-card__title-text Relationships
        .mdl-card__supporting-text(style="overflow: auto;")   
          table(style="width: 100%;").mdl-data-table.mdl-js-data-table
            thead
              tr
                th(id="myTh").mdl-data-table__cell--non-numeric Type
                th Total Amount
            tbody(id="nodesTableBody")
          a.android-link.mdl-button.mdl-js-button 
            i.material-icons(id="nodesTableBodyBackward") navigate_before
            i.material-icons(id="nodesTableBodyForward") navigate_next
        script.
          app.content.htmlElements.createNodesTableBody('nodesTableBody', '/api/graph/read/typeAmountRelationships'); 
          document.getElementById('nodesTableBodyBackward').onclick = app.content.htmlElements.paginateNodesTableBodyBothWays;
          document.getElementById('nodesTableBodyForward').onclick = app.content.htmlElements.paginateNodesTableBodyBothWays;
      .mdl-cell.mdl-cell--8-col.mdl-shadow--3dp
        .mdl-card__media
          i(style="opacity: 0.76; color:#37474f;").material-icons blur_on
        .mdl-card__title
          h4.mdl-card__title-text Graph
        .mdl-card__supporting-text(style="overflow: auto;")        
          table(style="width: 100%;").mdl-data-table.mdl-js-data-table
            thead
              tr
                th.mdl-data-table__cell--non-numeric Source   
                th.mdl-data-table__cell--non-numeric Type
                th.mdl-data-table__cell--non-numeric Properties
                th.mdl-data-table__cell--non-numeric Target
            tbody(id="graphTableBody")
          a.android-link.mdl-button.mdl-js-button
            i.material-icons(id="graphTableBodyBackward") navigate_before
            i.material-icons(id="graphTableBodyForward") navigate_next
          script.
            app.content.htmlElements.createGraphTableBody('graphTableBody', '/api/graph/read/RelationshipsPagination?pagination=');
            document.getElementById('graphTableBodyBackward').onclick = app.content.htmlElements.paginateGraphTableBodyBackward;           
            document.getElementById('graphTableBodyForward').onclick = app.content.htmlElements.paginateGraphTableBodyForward;
  .mdl-card-section
    .android-section-title.mdl-typography--display-1-color-contrast Latest Movies:
    +moviesReadBulkMdlCards
    .android-section-title.mdl-typography--display-1-color-contrast Top Actors:
    .android-card-container.mdl-grid#TopActorsMdlCardsDiv
      script.
        app.content.htmlElements.createNodesMdlCardsDiv('TopActorsMdlCardsDiv', '/api/graph/read/top/persons?relationshipName=ACTED_IN', '#{locale}', "#{localesCommands['Show']}");