doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    a(href="/users/login") Login
    | | 
    a(href="/users/create") Create Account
  body
    block content
