extends layout

block content
  .android-content.mdl-layout__content
    .android-be-together-section.mdl-typography--text-center
      //- .logo-font.android-sub-slogan #{movie.title}
      //- .logo-font.android-sub-slogan #{movie.tagline}
      //- .logo-font.android-sub-slogan #{movie.released}
      .logo-font.android-sub-slogan #{nodes_deleted} Movies deleted
