extends ../layout
include ../mixins/createForms.jade

block content
  .flixnet-top-section.mdl-typography--text-center
    .flixnet-logo-font.flixnet-sub-slogan #{localesStrings['Create a new Relationship']}:
    .flixnet-logo-font.mdl-typography--font-light
      br
      +relationshipCreateForm
    script.
      app.content.htmlElements.createOptionsRelationship(!{JSON.stringify(persons)}, !{JSON.stringify(relationships)}, !{JSON.stringify(movies)});


