extends ../layout
include ../mixins/createForms.jade

block content
  .top-section.mdl-typography--text-center
    .logo-font.android-sub-slogan #{localesStrings['Create a new Relationship']}:
    .mdl-typography--font-light
      br
      +relationshipCreateForm
  script.
    app.buildOptions(!{JSON.stringify(persons)}, !{JSON.stringify(relationships)}, !{JSON.stringify(movies)});


