extends ../layout
include ../mixins/createForms.jade

block content
  .top-section.mdl-typography--text-center
    .logo-font.android-sub-slogan #{localesStrings['Create a new Movie']}:
    .mdl-typography--font-light
      br
      +movieCreateForm