extends ../layout

block content
  .android-content.mdl-layout__content
    .android-be-together-section.mdl-typography--text-center
      .logo-font.android-sub-slogan #{slogan}:
      .logo-font.android-sub-slogan Movie Title: #{movie.title}
      .logo-font.android-sub-slogan Movie Tagline: #{movie.tagline}
      .logo-font.android-sub-slogan Released Date: #{movie.released}
