extends ../layout
include ../mixins/updateForms.jade

block content
  .top-section.mdl-typography--text-center
    .logo-font.android-sub-slogan #{localesStrings['Update a Movie']}:
      +movieUpdateForm