extends ../layout

block content
  form(method="post", action= modelEntity ? "/databases/edit/"+modelEntity.id : "/databases/create")
    ul
      li
        label(for="name") Name
        input#name(name="name", value= modelEntity ? modelEntity.name : "")
      p ---
      li
        label(for="type") Type
        textarea#type(name="type")= modelEntity ? modelEntity.type : ""
      p ---
      li
        label(for="description") Description
        textarea#description(name="description")= modelEntity ? modelEntity.description : ""
      p ---
      li 
        input(type="submit", value="Save")
