extends ../layout
include ../mixins/createForms.jade

block content
  .android-content.mdl-layout__content
    .android-be-together-section.mdl-typography--text-center
      .logo-font.android-sub-slogan #{localesStrings['Create a new Person']}:
        +personCreateForm