extends ../layout
include ../mixins/deleteForms.jade

block content
  .top-section.mdl-typography--text-center
    .logo-font.android-sub-slogan #{localesStrings['Delete Person (and all its relationships)']}:
    .mdl-typography--font-light
      br
      +personDeleteForm