<% include ./partials/head %>
    <main>
        <div class="jumbotron">
            <h1><%=message %></h1>
                <h2><%=error.status %><h2>
            <pre><%= error.stack %></pre>
        </div>
    </main>
<% include ./partials/footer %>
- See more at: http://www.ashishblog.com/getting-start-with-arangodb-using-nodejs-nodejs-ejs-arangojs/#sthash.oyXYUAaR.dpuf