extends ../layout

block content
  h1= title
  p Welcome to #{title}
  if !(modelEntities && modelEntities.length)
    p Nothing found 
  else
    ul.modelEntities
      each modelEntity in modelEntities
        li
          h2
            a(href="/posts/id/#{modelEntity.id}")=modelEntity.title